#signup
	%form#default-form{:action => '/signup', :method => 'post'}
		%fieldset
			%label Email
			%input{:class => 'text', :type => 'text', :name => 'email'}
			.clear
			%label Password
			%input{:class => 'text', :type => 'password', :name => 'password'}
			.clear
			%label Confirm Password
			%input{:class => 'text', :type => 'password', :name => 'password2'}
			.clear
			%input{:type => 'hidden', :name => 'next_url', :value => @next_location}
			
		%div{:class => 'right'}
			%button.button{:type => 'submit'}
				%span Sign up now

