html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0 none;
	font-family: inherit;
	font-size: 1em;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0 none;
	padding: 0;
	vertical-align: baseline;
}
body {
	color: #393733;
	font-family: Arial,Helvetica,Calibri,sans-serif;
	font-size: 12px;
	line-height: 1;
}
#container {
	margin: 0 auto;
	min-width: 960px;
	position: static;
	width: 960px;
}
#top {
	float: left;
	position: relative;
	width: 800px;
	z-index: 1;
}
#top-logo {
	float: left;
	width: 400px ;
	font-size: 24px;
}
#top-account {
	float:right;
	text-align: right;
	width: 370px;
	font-size:14px;
	font-weight:bold;
}
#main {
	float: left;
	position: relative;
	width: 800px;
	z-index: 1;
}
#splash {
	height: 100px;
	margin: 0 -16px;
	padding: 0 16px;
}
#features {
	margin: 0 -16px;
	padding: 0 16px;
}
#navigation {
	height: 50px;
	margin: 0 -16px;
	padding: 0 16px;
}
#content {
	margin: 0 -16px;
	padding: 0 16px;
}
#footer {
	border-top:2px solid #DAEDF3;
	font-weight:bold;
	height:14px;
	margin:34px 0 14px;
	padding:12px 0;
}
#footer ul {
	float:left;
}
#footer li {
	display:inline;
	margin-right:1.5em;
}
#footer span {
	color:#666666;
	float:right;
}
#signin {
	right: 0;
	top: 40px;
	width: 350px;
}
#signup {
	right: 0;
	top: 40px;
	width: 350px;
}
#default-form {
}
#default-form label {
	display: block;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 4px;
}
#default-form fieldset {
	padding: 10px 10px 10px 10px;
}
#default-form .text {
	border:1px solid #0099CC;
	font-family:Arial,Helvetica,Calibri,sans-serif;
	font-size:16px;
	margin:5px 0;
	padding:5px 5px 6px;
	width:330px;
}
button {
	border: 0 none;
	cursor: pointer;
	overflow: visible;
	padding: 0;
	position: relative;
}
button span {
	display: block;
	position: relative;
	white-space: nowrap;
}
button.button span {
	color:	#000;
	font-family:Arial,Helvetica,Calibri,sans-serif;
	font-weight:bold;
	height:23px;
	padding:9px 0 0 8px;
}
button.button {
	font-size: 13px;
	padding: 0 8px 0 0;
	text-align: center;
	background: #0099CC;
}
/* generic tag stuff */
ol, ul {
	list-style:	none outside none;
}
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	font-weight: normal;
	text-align: left;
}
code {
	font-family: Courier;
}
a:link, a:visited {
	color: #0099CC;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a.help {
	border-bottom-style: dotted;
	border-bottom-width: 1px;
	cursor:help;
}
a.help:hover {
	text-decoration: none;
}
.right {
	text-align: right;
}
